/*! Made with Bones: http://themble.com/bones :) */

/******************************************************************
Site Name:
Author: Gareth Ferguson

Stylesheet: Main Stylesheet
******************************************************************/


/*********************
Breakpoint
*********************/
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";

//Breakpoint Definitions
$larger-mobile: 481px;
$tablet: 768px;
$desktop: 1030px;
$large: 1240px;

/*********************
IMPORTING PARTIALS
These files are needed at the beginning so that we establish all
our mixins, functions, and variables that we'll be using across
the whole project.
*********************/

// normalize: http://necolas.github.io/normalize.css/
@import "partials/normalize";

// Sass variables
@import "partials/variables";

// typography
@import "partials/typography";

// Sass functions
@import "partials/functions";

// import mixins
@import "partials/mixins";

//Suzy
@import "../bower_components/susy/sass/susy";
@import "partials/grid";

/*********************
MODULES
*********************/

//Top Header
@import "modules/top-bar";
@import "modules/comments";

/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

	// styles in 2x.scss
	@import "modules/2x";

}

@media print {
	// styles in print.scss
	@import "partials/print";
}
