$container-style: fluid;

$susy: (
  global-box-sizing: border-box,
  columns: 12,
  container: 64em,
  gutters: 1/4
);

@include border-box-sizing;

/* Main Section */

#content{
    @include container();
}

main{
    
    @include span(12);
    
   .two-column & {
        @include span(9);
    }
    
    .article{
        @include span(12 narrow);
    }
}

.sidebar{
   @include span(3 last); 
}

/* Footer */

footer{
    @include container();
    clear: both;
}

.inner-footer{
    @include span(12);
}