/* Top Header Bar */
.header{
    
   @include container(100%); 
    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
    background: #000;
    overflow: hidden;
    
    .top-bar{
        
        @include container();
        
        @include breakpoint($tablet) {
            @include container(64em);
        }
        
        color:#fff;
        
        ul{
            li{
                float:left;
                padding:0 0 0 0.9em;
                
                p{
                    margin:0;  
                }
                
                a{
                    color:#fff;
                    text-decoration: none;
                }
                
            }
        }
        
        .title-area{
            @include span(7);  
        }
        
        .menu-icon{
            
            @include text-indent();
            position: relative;
            width: 2.25em;
            
            &:before{
                content: "";
                position: absolute;
                left: 1em;
                top: 0.15em;
                width: 100%;
                height: .15em;
                background: #fff;
                box-shadow: 0 .40em 0 0 #fff,0 .8em 0 0 #fff;
            }
            
            &:hover{
                cursor: pointer;
            }
        }
        
        &.expanded{
            .top-bar-section{
               display: block;
            }
        }
            
        
        .top-bar-section{
            
            display: none;
            clear: both;
            overflow: hidden;
            
            @include breakpoint($tablet) {
                display: block;
                float:right;
                clear: none;
            }
            
            ul{
                li{
                   padding:.5em 1em; 
                   float: none;
                    
                    @include breakpoint($tablet) {
                        padding:0 0.9em; 
                        float: left;
                    }
                    
                }
            }
        }
    }
    
    @include breakpoint($tablet) {
        .toggle-topbar{
            display: none;
        }
    }
}