/* Top Bar */

.toggle-topbar{
    display: none;
}

/* Top Header Bar */
.header{
    
    .top-bar{

        .top-bar-section{
            
            display: block;
            float:right;
            clear: none;
            
             ul{
                li{
                   padding:0 0.9em; 
                   float: left;
                }
            }
            
        }
    }
    
}



/* Comments */
.comment_content{
   padding-left:4em;
}

.comment{
    margin:0 0 2em
}

.avatar{
    display: inline-block;
    margin:0 1em 0 0;
}

.comment-author span{
    vertical-align: top;
    display: inline-block;   
}

.comment-author span time{
    display: block;   
    font-size: 0.8em;
}